* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #b32e53;
}
.dis_none {
  display: none;
}
.opacity_0 {
  opacity: 0;
}
.title {
  text-transform: uppercase;
}
.title--h2 {
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
}
.title--h3 {
  font-size: 1.8rem;
}
.title--h4 {
  font-size: 1.6rem;
  text-align: center;
}
.btn {
  background-color: #d3d3d3;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 5px;
  color: #b32e53;
  font-weight: 700;
}
.btn:hover {
  background-color: #8c8c8c;
  color: #fff;
}
.btn:not(:last-of-type) {
  margin-right: 15px;
}
.label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  text-align: center;
  color: #b32e53;
  font-weight: 700;
}
.input {
  display: block;
  height: 25px;
  border: 1px solid #b32e53;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  font-size: 1.4rem;
}
.input:focus {
  background-color: #b32e53;
  color: #fff;
}
.input:focus::placeholder {
  color: #fff;
}
.input::placeholder {
  text-align: center;
}
.input--filled {
  background-color: rgba(0, 0, 255, 0.05);
}
.select {
  height: 25px;
  border: 1px solid #b32e53;
  border-radius: 5px;
}
.select:focus {
  background-color: #b32e53;
  color: #fff;
}
.option {
  color: #fff;
}
.option-mag {
  background-color: rgba(179, 46, 83, 0.15);
}
.option-min {
  background-color: rgba(179, 46, 83, 0.10);
}
.option-over {
  background-color: rgba(179, 46, 83, 0.05);
}
/* .option-mag {
  background: linear-gradient(rgba(179,46,83,0.3) 0%, rgba(179,46,83,0.4) 100%);
}
.option-min {
  background: linear-gradient(rgba(179,46,83,0.2) 0%, rgba(179,46,83,0.3) 100%);
}
.option-over {
  background: linear-gradient(rgba(179,46,83,0.1) 0%, rgba(179,46,83,0.2) 100%);
} */
.th,
.td {
  width: 180px;
  font-size: 1.5rem;
  text-align: left;
}
/* .td {
  position: relative;
  display: block;
  transform: translateY(365%);
} */
[class*="--flex-center"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}
.main__section.input-dati {
  margin-bottom: 15px;
}
.input-dati__title {
  margin-bottom: 10px;
}
.main__section__data {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.main__section__data__row-data {
  margin-bottom: 40px;
}
.main__section__data__col-travel {
  margin: 0 40px;
}
.main__section__ticket {
  background-color: #fff;
  padding: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.main__section__ticket__content {
  display: flex;
  height: 139px;
}
.__ticket__content__passenger {
  padding: 20px 15px;
  background-color: #828282;
  border: 1px solid #9b9b9b;
}
.__ticket__content__passenger__name {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
}
.__ticket__content__data {
  height: 100%;
  padding: 20px 15px;
  border: 1px solid #9b9b9b;
  border-left: 0;
  border-right: 0;
}
