* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
}
.dis_none {
  display: none;
}
.title {
  text-transform: uppercase;
}
.title--h2 {
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
}
.btn {
  background-color: #d3d3d3;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 5px;
  color: #b32e53;
  font-weight: 700;
}
.btn:hover {
  background-color: #8c8c8c;
  color: #fff;
}
.btn:not(:last-of-type) {
  margin-right: 15px;
}
.label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
  text-align: center;
  color: #b32e53;
  font-weight: 700;
}
.input {
  display: block;
  height: 25px;
  border: 1px solid #b32e53;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  font-size: 1.4rem;
}
.input:focus {
  background-color: #b32e53;
  color: #fff;
}
.input:focus::placeholder {
  color: #fff;
}
.input::placeholder {
  text-align: center;
}
.input--filled {
  background-color: rgba(0, 0, 0, 0.3);
}
.select {
  height: 25px;
  border: 1px solid #b32e53;
  border-radius: 5px;
}
.select:focus {
  background-color: #b32e53;
  color: #fff;
}
.option {
  color: #fff;
}
.option-mag {
  background-color: rgba(179, 46, 83, 0.15);
}
.option-min {
  background-color: rgba(179, 46, 83, 0.10);
}
.option-over {
  background-color: rgba(179, 46, 83, 0.05);
}
/* .option-mag {
  background: linear-gradient(rgba(179,46,83,0.3) 0%, rgba(179,46,83,0.4) 100%);
}
.option-min {
  background: linear-gradient(rgba(179,46,83,0.2) 0%, rgba(179,46,83,0.3) 100%);
}
.option-over {
  background: linear-gradient(rgba(179,46,83,0.1) 0%, rgba(179,46,83,0.2) 100%);
} */
[class*="--flex-center"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: #b32e53;
}
.main {
  width: 80%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}
.main__section.input-dati {
  margin-bottom: 15px;
}
.input-dati__title {
  margin-bottom: 10px;
}
.main__section__data {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}
.main__section__data__row-data {
  margin-bottom: 40px;
}
.main__section__data__col-travel {
  margin: 0 40px;
}
